Flask
flask-cors
beautifulsoup4
requests
openai
agno
python-dotenv
lancedb
ChromaDB
soupsieve
typing-extensions
charset-normalizer
idna
urllib3
certifi
anyio
distro
httpx
jiter
pydantic
sniffio
tqdm
httpcore
h11
annotated-types
typing-inspection
pydantic-core
